body,p,span,h5,h6,a,strong,li,button{
	font-size:14px;
	color:#999;
	font-family: 'Open Sans', sans-serif;
	 -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
	border-bottom: 1px solid #e1e1e1!important;
	margin: 0 0 10px 0!important;
}
html{
	margin:0px;
}
select {
 //  	border-radius:none!important;
	// -webkit-appearance: none;	
	// -webkit-border-radius: 0px; 

}
body{
	overflow-x:hidden;
}
.container{
	width:85%!important;
}
.heading_block{
	h2{
		font-size: 22px;
		letter-spacing: 1px;
		color: #19223D;
		text-align: center;
		display: block;
		text-transform: uppercase;
	}
	span{
		display: block;
		width: 220px;
		height: 5px;
		position:relative;
		margin: 0px auto;
		background-color: #f1f1f1;
		margin-top: 20px;
		margin-bottom: 45px;
		i{
			position:absolute;
			background-color:#19223D;
			height: 5px;
			width: 100px;
			margin: 0px auto;
			z-index: 555;
			text-align: center;
			margin-left: 27%;
		}
	}
}

.heading_block-white{
	h2{
		font-size: 22px;
		letter-spacing: 1px;
		color: #fff;
		text-align: center;
		display: block;
		text-transform: uppercase;
	}
	span{
		display: block;
		width: 220px;
		height: 5px;
		position:relative;
		margin: 0px auto;
		background-color: #868DA3;
		margin-top: 20px;
		margin-bottom: 45px;
		i{
			position:absolute;
			background-color:#fff;
			height: 5px;
			width: 100px;
			margin: 0px auto;
			z-index: 555;
			text-align: center;
			margin-left: 27%;
		}
	}
}

.section-gap{
	padding:50px 0px;
}
.margin-0{
	margin:0px!important;
}

.more-button-block{
	button{
		margin: 0px auto;
	    display: block;
	    text-align: center;
	    margin-top: 30px;
	}
}

.inner{
	height:160px!important;
	background-position: center;
}

.bredcrums{
	ul{
		li{
			display:inline-block;
			a{
				font-size: 12px;
				&:hover{
					opacity: 0.8;
				}
			}
			i{
				padding:0px 10px;
			}
			.active-bred{
				color: #19223D!important;
			}
		}
	}
}
.section-gap-inner{
	padding:30px 0px 15px 0px;
	img{
		min-width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.back-link{
	color: #19223D!important;
	float:right;
}

.inner-bg{
	background-color:#F1F1F1;
}

.inner-tab{
	margin-bottom:0px!important;
}
.inner-tab .tabs .tab a:hover, .inner-tab .tabs .tab a.active{
	background-color:#19223D!important;
	color:#fff;
	border-bottom:none!important;
}
.inner-tab .tabs .indicator{
	display:none;
}
.inner-tab .tabs .tab{
	height:40px;
}
.inner-tab .tabs{
	height:40px;
	margin-bottom:20px;
}
.inner-tab .tabs .tab a{
	font-size:11px;
	color:#19223D;
	line-height:40px;
	border:1px solid rgba(225, 225, 225, 0.73);
}

.navy{
	color:#19223D!important;
}
.big{
	font-weight:bold;
	color:#19223D!important;
}

.box-white{
	width:100%;
	background-color:#fff;
	border:1px solid rgba(225, 225, 225, 0.73);
	float:left;
	margin-bottom:10px;
	padding:20px;
	p{
		line-height: 20px;
		font-size: 13px;
	}
	h2{
		font-size: 16px;
		color: #19223D;
		font-weight: bold;
	}
}

// Model
.lean-overlay{
	background-color:#19223D;
}
.modal{
	background-color:rgba(25, 34, 61, 0.9) !important;
	width:45%!important;
}
.modal-content{

	h4{
		font-size:24px;
		font-weight: bold;
		color: #fff;
		display: block;
		text-align: center;
	}
	.b-m{
		padding-bottom:30px;
		float: left;
		width: 100%;
		input{
			font-size: 13px!important;
			color: #fff!important;
		}
		
		textarea{
			border:none;
			border-bottom: 1px solid #e1e1e1 !important;
			font-size: 13px!important;
			color: #fff!important;
			margin-top: 30px;
		}
	}
	button{
		width: 100px;
	    height: 40px;
	    background-color:#F15C5C;
	    color: #fff;
	    border: none;
	    transition: all 0.5s ease;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    margin-top: 20px;
	    float:right;
	    a{
	    	color: #fff;
	    	display: block;
	    }
	}
	.cancel{
		margin-right: 10px;
		background:none!important;
		border:1px solid #fff!important;
		a{
			color: #fff!important;
		}
	}

}

.modal-content input{ /* Chrome/Opera/Safari */
  color: #fff;
}
.modal-content textarea{ /* Chrome/Opera/Safari */
  color: #fff;
}

.modal-content input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.modal-content input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.modal-content input::-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.modal-content input::-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.modal-content textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.modal-content textarea::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.modal-content textarea::-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.modal-content textarea::-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.mg-bt-none{
	margin-bottom:0px!important;
}
.collapsible-header{
	padding:15px;
	h2{
		font-size: 20px;
		font-weight: bold;
		color: #19223D;
		line-height: 23px;
		span{
			font-weight: normal;
			font-size:14px;
		}
	}
}
.collapsible{
		border:none!important;
		box-shadow:none!important;
}
.collapsible-body{
	background-color:#fff!important;
}
.collapsible-body p{
	padding:15px;
	line-height:24px;
	font-size:13px;
}
.collapsible-body p strong{
	display:block;
	font-weight:bold;
	padding-bottom:10px;
	padding-top:10px;
}
.banner-in{
	width:100%;
	height:450px;
	background-color:#e1e1e1;
	background-image:url(../images/owner.png);
	background-size:cover;
	img{
		min-width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.more-center{
	button{
		margin: 0px auto;
		display: block;
		text-align: center;
	}
}

.form-upload{
	span{
		font-size: 13px;
		color: #999;
		font-style: italic;
		display: block;
		padding-top:5px;
	}
	input{
			font-size: 13px!important;
			color: #999!important;
	}
	select{
		border:none;
		border-bottom: 1px solid #e1e1e1 !important;
	}
}