.who-we-are{
	.para{
		display: block;
		text-align: center;
		padding:10px 0px 20px 0px;

	}
	.tabs .tab a{
		border: 1px solid #e1e1e1;
		color: $navy;
		letter-spacing: 1px;
	}
	.tabs .tab a.active{
		background-color: $navy;
		color: #fff;
	}
	.tabs .indicator{
		display: none;
	}
	h1{
		display: block;
		text-align: left;
		font-size: 30px;
		color: $navy;
		padding: 20px 0px 10px 0px;
		font-weight: 600;
	}
	p{
		font-size: 14px;
		color: #999;
		line-height: 24px;
		text-align: left;
	}

}