.admin{
  font-size: 14px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

/* line 9, ../sass/layout/_base.scss */
.width-150 {
  width: 150px;
  text-align: center;
}

/* line 13, ../sass/layout/_base.scss */
.padd-10-0 {
  padding: 0px 10px;
}

/* line 1, ../sass/tools/_plugin.scss */
.loading {
  background: url("../images/gif.gif") no-repeat center center;
  top: 0px;
  left: 0px;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: absalute;
  z-index: 9999;
}



/* line 18, ../sass/tools/_plugin.scss */
.loaded section {
  opacity: 1;
}

/* line 1, ../sass/layout/_header.scss */
header {
  height: 60px;
  background-color: #19223D;
  padding: 0px 20px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0px;
}
/* line 9, ../sass/layout/_header.scss */
header .logo {
  height: 60px;
  width: calc(100% - 70px);
  float: left;
}
/* line 13, ../sass/layout/_header.scss */
header .logo i {
  line-height: 60px;
  display: block;
}
/* line 16, ../sass/layout/_header.scss */
header .logo i img {
  height: 50px;
  width: auto;
  padding-top: 10px;
}
/* line 23, ../sass/layout/_header.scss */
header .logout {
  float: left;
  width: 60px;
  text-align: right;
}
/* line 27, ../sass/layout/_header.scss */
header .logout a {
  background: none;
}
/* line 29, ../sass/layout/_header.scss */
header .logout a i {
  font-size: 30px;
  color: #fff;
  line-height: 60px;
}

/* line 2, ../sass/layout/_table.scss */
.table thead {
  width: 100%;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
}
/* line 6, ../sass/layout/_table.scss */
.table thead th {
  height: 40px;
  padding: 10px;
  color: #19223D;
  font-weight: 600;
}

/* line 16, ../sass/layout/_table.scss */
table.striped > tbody > tr > td {
  padding: 10px;
}

/* line 21, ../sass/layout/_table.scss */
.action-table .edit {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #19223D;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14px;
  border: 1px solid #f1f1f1;
}
/* line 35, ../sass/layout/_table.scss */
.action-table .delete {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border: none;
  background-color: #F16B6F;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 14px;
}

/* line 50, ../sass/layout/_table.scss */
.pagination li a {
  font-size: 14px !important;
}

/* line 53, ../sass/layout/_table.scss */
.pagination li i {
  font-size: 14px !important;
}

/* line 1, ../sass/layout/_block.scss */
.header-all-section {
  border-bottom: 1px solid #f1f1f1;
  float: left;
  width: 100%;
}
/* line 5, ../sass/layout/_block.scss */
.header-all-section .title {
  width: calc(100% - 120px);
  float: left;
}
/* line 8, ../sass/layout/_block.scss */
.header-all-section .title h2 {
  font-size: 20px;
  display: block;
  padding-bottom: 15px;
  color: #19223D;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
}
/* line 18, ../sass/layout/_block.scss */
.header-all-section .title-full {
  width: 100%;
  float: left;
}
/* line 21, ../sass/layout/_block.scss */
.header-all-section .title-full h2 {
  font-size: 20px;
  display: block;
  padding-bottom: 15px;
  color: #19223D;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
}
/* line 31, ../sass/layout/_block.scss */
.header-all-section .action-area {
  width: 120px;
  float: left;
}
/* line 34, ../sass/layout/_block.scss */
.header-all-section .action-area .bt-add {
  background-color: #8CD790;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 13px;
  height: 40px;
  width: 100%;
  transition: all 0.5s ease;
}
/* line 46, ../sass/layout/_block.scss */
.header-all-section .action-area .bt-add a {
  color: #fff;
  background: none;
  display: block;
}
/* line 51, ../sass/layout/_block.scss */
.header-all-section .action-area .bt-add:hover {
  opacity: 0.8;
}

/* line 2, ../sass/layout/_form.scss */
.add-new-form .normal-bt {
  background-color: #19223D !important;
  height: 40px;
  line-height: 40px;
}
/* line 6, ../sass/layout/_form.scss */
.add-new-form .normal-bt span {
  color: #fff;
  background: none;
}
/* line 11, ../sass/layout/_form.scss */
.add-new-form .bt-form-normal {
  background-color: #8CD790;
  color: #fff;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font-size: 13px;
  height: 40px;
  width: 120px;
  transition: all 0.5s ease;
}
/* line 23, ../sass/layout/_form.scss */
.add-new-form .bt-form-normal a {
  color: #fff;
  background: none;
  display: block;
}
/* line 28, ../sass/layout/_form.scss */
.add-new-form .bt-form-normal:hover {
  opacity: 0.8;
}
/* line 32, ../sass/layout/_form.scss */
.add-new-form .negative {
  background-color: #E0E3DA !important;
  color: #19223D !important;
}
/* line 35, ../sass/layout/_form.scss */
.add-new-form .negative a {
  color: #19223D !important;
}

/* line 41, ../sass/layout/_form.scss */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin: 0 0 10px 0 !important;
}

/* line 1, ../sass/layout/Pages/_home.scss */
.main-sec {
  margin-top: 70px;
  display: block;
  height: 100vh;
}
/* line 5, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus {
  width: 270px;
  background-color: #fff;
  height: 100vh;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}
/* line 12, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus ul {
  float: left;
  display: block;
}
/* line 15, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus ul li {
  display: block;
  width: 100%;
  float: left;
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
}
/* line 16, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus ul li a {
  background: #fff;
  display: block;
  padding: 15px 10px 15px 10px;
  transition: all 0.5s ease;
  color: #19223D;
}
/* line 22, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus ul li a:hover {
  background-color: #19223D;
  color: #fff;
  padding-left: 15px;
}
/* line 28, ../sass/layout/Pages/_home.scss */
.main-sec .side-menus ul li .active {
  background-color: #19223D;
  color: #fff;
}
/* line 40, ../sass/layout/Pages/_home.scss */
.main-sec .main-area {
  float: left;
  width: calc(100% - 300px);
  background-color: #fff;
  min-height: 700px;
  margin-right: 10px;
  padding: 15px;
}

/* line 1, ../sass/layout/Pages/_login.scss */
.login {
  width: 450px;
  height: auto;
  background-color: #fff;
  margin: 0px auto;
  margin-top: 5%;
}
/* line 7, ../sass/layout/Pages/_login.scss */
.login .head {
  background-color: #19223D;
  padding: 20px 0px;
}
/* line 10, ../sass/layout/Pages/_login.scss */
.login .head i {
  text-align: center;
  display: block;
}
/* line 13, ../sass/layout/Pages/_login.scss */
.login .head i img {
  width: 120px;
}
/* line 18, ../sass/layout/Pages/_login.scss */
.login .form {
  padding: 25px;
}
/* line 20, ../sass/layout/Pages/_login.scss */
.login .form .row {
  margin-bottom: 0px;
}
/* line 23, ../sass/layout/Pages/_login.scss */
.login .form button {
  border: none;
  height: 45px;
  background-color: #19223D;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 45px;
  width: 100%;
}

/* line 39, ../sass/layout/Pages/_login.scss */
input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  border-bottom: 1px solid #e1e1e1 !important;
}

.strong{
  font-weight: bold;
  color: $navy;
  font-size: 16px;
}
