.property-type{
	background-color:$navy;
	span{
		color: #999;
		font-weight: 600;
	}
	strong{
		color: #fff;
	}
}

.distance{
	span{
		color: $navy;
		display: block;
		padding: 5px 0px;
		i{
			display: inline-block;
			width: 20px;
		}
	}
}

.map{
	width:100%;
	height: 400px;
	float:left;
	overflow:hidden;
}

.line-h2{
	h2{
		display: block;
		width: 100%;
		font-size: 16px;
		color: $navy;
		font-weight: bold;
		padding-bottom:10px;
		border-bottom:1px solid #e1e1e1;
		margin-bottom: 10px;
		margin-top: 20px;
	}
}

