/*==========  Mobile First Method  ==========*/
/* Large desktops and laptops */
@media (min-width: 1200px) {
	.mob-menu{
		display:none;
	}
	.agent-card{
		.agent-image{
			height: 170px;
		}
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.mob-menu{
		display:none;
	}
	.community-card{
		height: 200px;
		.overlay-bx{
			h3{
				line-height: 200px;
			}
		}
	}
	.project{
		img{
			width: 100%;
			height: auto;
		}
	}
	.agent-card{
		.agent-image{
			height: 170px;
		}
	}


}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
.banner{
		height: auto;
	}
	.testimonials{
		height: auto!important;
		position: static!important;
		padding:5px 0px 40px 0px;
	}
	.banner .testimonials .flexslider .content-testi{
		padding: 0px 30px!important;
	}
	.menu-header{
		.main-menu{
			display: none;
		}
	}
	.menu-bar{
		.logo-header{
			img{
				height: 35px;
				margin-top: 10px;
			}
		}
	}
	.project{
		height: 360px;
		img{
			height: 100%!important;
			width: auto!important;
		}
		.top-over-lay{
			.project-detail{
				padding:20px;
				margin: 25px auto;
				h1{
					padding:0px;
					font-size: 25px;
					padding-bottom:30px;
				}
				h2{
					font-size: 20px;
				}
			}
		}
	}
	#project-hero{
		.flexslider{
			.flex-viewport{
				height: 360px;
			}
		}
	}
	.career-box{
		height: auto;
		.hal-f-box{
			width: 100%;
			.career-over-ly {
				h4{
					padding-top:0px;
				}
			}
		}
	}
	.agent-box{
		.overlay-agent{
			h3{
				line-height: 125px; 
			}
		}
	}
	.section-gap{
		padding: 20px 0px;
	}
	.community-card{
		height: 200px;
		.overlay-bx{
			h3{
				line-height: 200px;
			}
		}
	}
	.logos{
		ul{
			li{
				width: 33.33%;
				float: left;
			}
		}
	}
	footer{
		img{
			display: none;
		}
		.border-right{
			border:none;
		}

		ul{
			margin-bottom: 10px;
		}
		.sub-footer{
			height: auto;
			text-align: center;
			padding-top:10px;
			p{
				text-align:center;
				line-height: 25px;
			}
			ul{
				float: none;
				text-align: center;
				line-height: 25px;
			}
		}
	}
	.search-form{
		.searchfeild{
			width: 100%!important;
		}
		.search-text{
			width: 100%!important;
			height: 45px;
		}
		.search-select{
			width: 100%!important;
			margin-left: 0px!important;
		}
		.searchaction{
			width: 100%!important;
			margin-left: 0px!important;
			margin-top: 5px;
		}
	}
	.inner{
		height:auto!important;
		background-position: center;
	}
	.agent-card{
		.agent-image{
			height: 170px;
		}
	}
	
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	.banner{
		height: auto;
	}
	.testimonials{
		height: auto!important;
		position: static!important;
		padding:5px 0px 40px 0px;
	}
	.banner .testimonials .flexslider .content-testi{
		padding: 0px 30px!important;
	}
	.menu-header{
		.main-menu{
			display: none;
		}
	}
	.menu-bar{
		.logo-header{
			img{
				height: 35px;
				margin-top: 10px;
			}
		}
	}
	.project{
		height: 360px;
		img{
			height: 100%!important;
			width: auto!important;
		}
		.top-over-lay{
			.project-detail{
				padding:20px;
				margin: 25px auto;
				h1{
					padding:0px;
					font-size: 25px;
					padding-bottom:30px;
				}
				h2{
					font-size: 20px;
				}
			}
		}
	}
	#project-hero{
		.flexslider{
			.flex-viewport{
				height: 360px;
			}
		}
	}
	.career-box{
		height: auto;
		.hal-f-box{
			width: 100%;
			.career-over-ly {
				h4{
					padding-top:0px;
				}
			}
		}
	}
	.agent-box{
		.overlay-agent{
			h3{
				line-height: 125px; 
			}
		}
	}
	.section-gap{
		padding: 20px 0px;
	}
	.community-card{
		height: 200px;
		.overlay-bx{
			h3{
				line-height: 200px;
			}
		}
	}
	.logos{
		ul{
			li{
				width: 33.33%;
				float: left;
			}
		}
	}
	footer{
		img{
			display: none;
		}
		.border-right{
			border:none;
		}

		ul{
			margin-bottom: 10px;
		}
		.sub-footer{
			height: auto;
			text-align: center;
			padding-top:10px;
			p{
				text-align:center;
				line-height: 25px;
			}
			ul{
				float: none;
				text-align: center;
				line-height: 25px;
			}
		}
	}
	.search-form{
		.searchfeild{
			width: 100%!important;
		}
		.search-text{
			width: 100%!important;
			height: 45px;
		}
		.search-select{
			width: 100%!important;
			margin-left: 0px!important;
		}
		.searchaction{
			width: 100%!important;
			margin-left: 0px!important;
			margin-top: 5px;
		}
	}
	.b-x-w{
		width:100%;
		float:none;
		margin-bottom: 30px;
	}
	.agent-detail-home{
		margin-bottom: 30px;
	}
	.inner{
		height:auto!important;
		background-position: center;
	}
	.form-bx{
		margin-bottom: 20px;
	}
	.each-testimonial{
		.user-testi{
			width: 100%;
		}
		.testi-content{
			width: 100%;
			.name-dt{
				width: 100%;
			}
			.bt-dt{
				width: 100%;
				margin-top: 20px;
				button{
					float: left;
				}
			}
		}
	}
	.test-reviw{
		width: 100%;
	}
	.property-card{
		width: 100%;
	}
	.each-project{
		.project-image{
			width: 100%;
			height: 200px;
		}
		.project-detail{
			width: 100%;
		}
	}
	.thum-slid ul li{
		width: 48%;
	}
	.plans{
		.instalment-card{
			width: 47%;
		}
	}
	.modal{
		width:100%!important;
	}
	.project-inner{
		width: 100%!important;
	}
	.inner-full-banner{
		height: auto!important;
		overflow: visible!important;
		.postion-form{
			background-color:#000;
			width: 100%;
		}
	}
	.over-innr-pg{
		position:static!important;
		background-color:$navy!important;
		.project-inner{
			background-color:$navy!important;
			.top-over-lay{
				width: 100%!important;
			}
		}
	}
	.image-buy-detail{
		margin-bottom: 10px;
	}

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.banner{
		height: auto;
	}
	.testimonials{
		height: auto!important;
		position: static!important;
		padding:5px 0px 40px 0px;
	}
	.banner .testimonials .flexslider .content-testi{
		padding: 0px 30px!important;
	}
	.menu-header{
		.main-menu{
			display: none;
		}
	}
	.menu-bar{
		.logo-header{
			img{
				height: 35px;
				margin-top: 10px;
			}
		}
	}
	.project{
		height: 360px;
		img{
			height: 100%!important;
			width: auto!important;
		}
		.top-over-lay{
			.project-detail{
				padding:20px;
				margin: 25px auto;
				h1{
					padding:0px;
					font-size: 25px;
					padding-bottom:30px;
				}
				h2{
					font-size: 20px;
				}
			}
		}
	}
	#project-hero{
		.flexslider{
			.flex-viewport{
				height: 360px;
			}
		}
	}
	.career-box{
		height: auto;
		.hal-f-box{
			width: 100%;
			.career-over-ly {
				h4{
					padding-top:0px;
				}
			}
		}
	}
	.agent-box{
		.overlay-agent{
			h3{
				line-height: 125px; 
			}
		}
	}
	.section-gap{
		padding: 20px 0px;
	}
	.community-card{
		height: 200px;
		.overlay-bx{
			h3{
				line-height: 200px;
			}
		}
	}
	.logos{
		ul{
			li{
				width: 33.33%;
				float: left;
			}
		}
	}
	footer{
		img{
			display: none;
		}
		.border-right{
			border:none;
		}

		ul{
			margin-bottom: 10px;
		}
		.sub-footer{
			height: auto;
			text-align: center;
			padding-top:10px;
			p{
				text-align:center;
				line-height: 25px;
			}
			ul{
				float: none;
				text-align: center;
				line-height: 25px;
			}
		}
	}
	.search-form{
		.searchfeild{
			width: 100%!important;
		}
		.search-text{
			width: 100%!important;
			height: 45px;
		}
		.search-select{
			width: 100%!important;
			margin-left: 0px!important;
		}
		.searchaction{
			width: 100%!important;
			margin-left: 0px!important;
			margin-top: 5px;
		}
	}
	.b-x-w{
		width:100%;
		float:none;
		margin-bottom: 30px;
	}
	.agent-detail-home{
		margin-bottom: 30px;
	}
	.inner{
		height:auto!important;
		background-position: center;
	}
	.form-bx{
		margin-bottom: 20px;
	}
	.each-testimonial{
		.user-testi{
			width: 100%;
		}
		.testi-content{
			width: 100%;
			.name-dt{
				width: 100%;
			}
			.bt-dt{
				width: 100%;
				margin-top: 20px;
				button{
					float: left;
				}
			}
		}
	}
	.test-reviw{
		width: 100%;
	}
	.property-card{
		width: 100%;
	}
	.action-bt ul li{
		width: 100%;
		margin-top: 5px;
	}
	.each-project{
		.project-image{
			width: 100%;
			height: 200px;
		}
		.project-detail{
			width: 100%;
		}
	}
	.inner-full-banner{
		.postion-form{
			width: 100%;
			left: 0px;
		}

	}
	.thum-slid ul li{
		width: 48%;
	}
	.plans{
		.instalment-card{
			width: 100%;
		}
	}
	.full-button{
		width: 100%;
	}
	.modal{
		width:100%!important;
	}
	.project-inner{
		width: 100%!important;
	}
	.inner-full-banner{
		height: auto!important;
		overflow: visible!important;
		.postion-form{
			background-color:#000;
		}
	}
	.over-innr-pg{
		position:static!important;
		background-color:$navy!important;
		.project-inner{
			background-color:$navy!important;
			.top-over-lay{
				width: 100%!important;
			}
		}
	}
	.image-buy-detail{
		margin-bottom: 10px;
	}
}
